{

       "gwas_groups": 
	{
		"all-gwas":
		{
			"files": [
				"../data/gwas/*.gz"
			],
			"gwas_cutoff_pvals": [1e-6],
			"gwas_windows": [500000],
			"eqtl_targets":
			{
				"gtex-single-snp":
				{
					"cutoff_pvals": [1e-6],
					"windows": [0]
				},
				"gtex-aggro":
				{
					"cutoff_pvals": [1e-6],
					"windows": [0]
				}
			}
		}
	},
       "eqtl_groups": 
	{
		"gtex-single-snp":
		{
			"files": [
				"../data/tabix_eqtls/*.gz",
				"../data/shared_data/eqtls/gtex_v8/*.gz",
				"../data/shared_data/sqtls/gtex_v8/*.gz"
			]
		},
		"gtex-aggro":
		{
			"files": [
				"../data/edqtl_clusters/tabix/*.gz",
				"../data/tabix_eqtls_aggro/*.gz"
			]
		}

	},
	"output_directory": "../output/test-snps",
	"output_base" : "rna-editing"
}
