{
        "out_dir": "output/colocalization/rna-editing-revisions",
	"tmp_dir": "tmp",

	"eqtl_threshold": 
		1,
	"debug":
		"False",
	"plot_none":
		"True",

	"gwas_experiments": 
	{	
		"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/*/*.gz": {"ref": "1kgenomes", "gwas_format": "pval_only", "N": "10000", "type": "quant"},
		"output/MS-data/formatted/hg38/Multiple-Sclerosis.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only", "N": "10000", "type": "quant"}
	},

	"eqtl_experiments": 
	{
		"data/eqtls/*.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "pval_only", "N": "500", "type":"quant"},
		"data/sqtls/*.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "pval_only", "N": "500", "type":"quant"},
		"data/edqtls/*.txt.gz": {"ref": "1kgenomes", "eqtl_format": "pval_only", "N": "500", "type":"quant"}
	},

	"selection_basis": 
		{"overlap_loci": "output/snp-lists/rna-gwas-overlap_all-gwas_gtex_source-pval-min-0_source-pval-max-5e-08_lookup-pval1e-05_source-window500000_lookup-window10000_coloc-tests.txt"},

	"methods": 
	{
		"coloc": {}
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
                                "data/1KG/hg38/ALL.chr{0}_GRCh38.genotypes.20170504.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}

