{

       "source_groups": 
	{
		"all-gwas":
		{
			"files": 
			[
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Coronary-Artery-Disease_Nelson_2017/Coronary-Artery-Disease_Nelson_2017.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Inflammatory-Bowel-Disease_Liu_2015/Inflammatory-Bowel-Disease.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Inflammatory-Bowel-Disease_Liu_2015/Crohns-Disease.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Inflammatory-Bowel-Disease_Liu_2015/Ulcerative-Colitis.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Lupus_Bentham_2015/Lupus_Bentham_2015.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Blood-Lipids_Willer_2013/High-Density-Lipoprotein-GWAS-and-Metabochip.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Blood-Lipids_Willer_2013/Low-Density-Lipoprotein-GWAS-and-Metabochip.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Blood-Lipids_Willer_2013/Total-Cholesterol-GWAS-and-Metabochip.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Blood-Lipids_Willer_2013/Triglycerides-GWAS-and-Metabochip.txt.gz",
				"output/MS-data/formatted/hg38/Multiple-Sclerosis.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Amyotrophic-Lateral-Sclerosis_van-Rheenen_2016/Amyotrophic-Lateral-Sclerosis-Meta-Analysis.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Psoriasis_Tsoi_2012/Psoriasis_Tsoi_2012.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Atopic-Dermatitis_EAGLE_2015/Atopic-Dermatitis_EAGLE_2015.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Depression_Howard_2019/Depression-Meta-Analysis.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Neuroticism_Luciano_2017/Neuroticism_Luciano_2017.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Depressive-Symptoms_Okbay_2016/Depressive-Symptoms_Okbay_2016.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Asthma_Demenais_2017/Asthma_Demenais_2017.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Celiac-Disease_Trynka_2011/Celiac-Disease_Trynka_2011.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Parkinsons_Pankratz_2012/Parkinsons_Pankratz_2012.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Primary-Sclerosing-Cholangitis_Ji_2017/Primary-Sclerosing-Cholangitis_Ji_2017.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Type-1-Diabetes_Onengut-Gumuscu_2015/Type-1-Diabetes-Meta-Analysis.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Type-2-Diabetes_Mahajan_2018/Type-2-Diabetes-Adjusted-For-BMI-European.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Alzheimers_Jansen_2018/Alzheimers_Jansen_2018.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Schizophrenia_Lam_2019/Schizophrenia-European.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Systemic-Sclerosis_Lopez-Isac_2019/Systemic-Sclerosis_Lopez-Isac_2019.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Autoimmune-Thyroid-Disease_Cooper_2012/Autoimmune-Thyroid-Disease_Cooper_2012.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/BMI-and-Height_Yengo_2018/BMI.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/BMI-and-Height_Yengo_2018/Height.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Primary-Biliary-Cirrhosis_Cordell_2015/Primary-Biliary-Cirrhosis_Cordell_2015.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Type-2-Diabetes_Mahajan_2018/T2D_Mahajan_Europeans.txt.gz",
				"/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2020-09-19_rna-editing-gwas/hg38/Rheumatoid-Arthritis_Okada_2014/Rheumatoid-Arthritis-European.txt.gz"	
			],
			"source_cutoff_pval_min": 0,
			"source_cutoff_pval_max": 5e-8,
			"source_windows": [500000],
			"lookup_targets":
			{
				"gtex":
				{
					"cutoff_pvals": [1e-5],
					"windows": [0, 10000]
				}
			}
		}
	},
       "lookup_groups": 
	{
		"gtex":
		{
			"files": [
				"data/edqtls/*.gz",
				"data/eqtls/*.gz",
				"data/sqtls/*.gz"
			]
		}
	},
	"output_directory": "output/snp-lists",
	"output_base" : "rna-gwas-overlap"
}
