{
	"genome_build": "hg38",
	"input_base_dir": "../../../data/new_immune_gwas/raw",
	"output_base_dir": "../../../data/new_immune_gwas/munged",
	"studies":
	[
		{
			"study_info": "Atopic-Dermatitis_EAGLE_2015",
			"traits":
			{
				"Atopic-Dermatitis_EAGLE_2015": ["EAGLE_AD_GWAS_results_2015.txt.gz"]
			},
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"direction_index": "8",
			"delimiter": "\t",
			"rsid_index": "1",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "10",
			"effect_index": "8",
			"se_index": "9"
		}
	]
}
