{
	"genome_build": "hg38",
	"input_base_dir": "../../../data/new_immune_gwas/raw",
	"output_base_dir": "../../../data/new_immune_gwas/munged",
	"studies":
	[
		{
			"study_info": "Lupus_Bentham_2015",
			"traits":
			{
				"Lupus_Bentham_2015": ["26502338-GCST003156-EFO_0002690.h.tsv.gz"]
			},
			"effect_allele_index": "17",
			"non_effect_allele_index": "16",
			"direction_index": "19",
			"delimiter": "\t",
			"rsid_index": "15",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "18",
                        "effect_index": "19",
                        "se_index": "20"
		},
		{
			"study_info": "Celiac_Trynka_2011",
			"traits":
			{
				"Celiac_Trynka_2011": ["22057235-GCST005523-EFO_0001060.h.tsv.gz"]
			},
			"effect_allele_index": "17",
			"non_effect_allele_index": "16",
			"direction_index": "19",
			"delimiter": "\t",
			"rsid_index": "15",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "18",
                        "effect_index": "19",
                        "se_index": "20"
		},
		{
			"study_info": "Type-1-Diabetes_Bradfield_2011",
			"traits":
			{
				"Type-1-Diabetes_Bradfield_2011": ["21980299-GCST001255-EFO_0001359.h.tsv.gz"]
			},
			"delimiter": "\t",
			"rsid_index": "15",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "18"
		},
		{
			"study_info": "Multiple-Sclerosis_Beecham_2013",
			"traits":
			{
				"Multiple-Sclerosis_Beecham_2013": ["24076602-GCST005531-EFO_0003885.h.tsv.gz"]
			},
			"effect_allele_index": "17",
			"non_effect_allele_index": "16",
			"direction_index": "19",
			"delimiter": "\t",
			"rsid_index": "15",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "18",
                        "effect_index": "19",
                        "se_index": "20"
		},
		{
			"study_info": "Psoriasis_Tsoi_2012",
			"traits":
			{
				"Psoriasis_Tsoi_2012": ["23143594-GCST005527-EFO_0000676.h.tsv.gz"]
			},
			"effect_allele_index": "17",
			"non_effect_allele_index": "16",
			"direction_index": "19",
			"delimiter": "\t",
			"rsid_index": "15",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "18",
                        "effect_index": "19",
                        "se_index": "20"
		},
		{
			"study_info": "Vitilogo_Jin_2012",
			"traits":
			{
				"GWAS1": ["JinY_27723757_GWAS1chr10.cmh.gz",
					  "JinY_27723757_GWAS1chr11.cmh.gz",
					  "JinY_27723757_GWAS1chr12.cmh.gz",
					  "JinY_27723757_GWAS1chr13.cmh.gz",
					  "JinY_27723757_GWAS1chr14cmh.gz",
					  "JinY_27723757_GWAS1chr15.cmh.gz",
					  "JinY_27723757_GWAS1chr16.cmh.gz",
					  "JinY_27723757_GWAS1chr17.cmh.gz",
					  "JinY_27723757_GWAS1chr18.cmh.gz",
					  "JinY_27723757_GWAS1chr19.cmh.gz",
					  "JinY_27723757_GWAS1chr21.cmh.gz",
					  "JinY_27723757_GWAS1chr22.cmh.gz",
					  "JinY_27723757_GWAS1chr1.cmh.gz",
					  "JinY_27723757_GWAS1chr2.cmh.gz",
					  "JinY_27723757_GWAS1chr3.cmh.gz",
					  "JinY_27723757_GWAS1chr4.cmh.gz",
					  "JinY_27723757_GWAS1chr5.cmh.gz",
					  "JinY_27723757_GWAS1chr6.cmh.gz",
					  "JinY_27723757_GWAS1chr7.cmh.gz",
					  "JinY_27723757_GWAS1chr8.cmh.gz",
					  "JinY_27723757_GWAS1chr9.cmh.gz"],
				"GWAS2": ["JinY_27723757_GWAS2chr1.cmh.gz",
					  "JinY_27723757_GWAS2chr10 .cmh.gz",
					  "JinY_27723757_GWAS2chr11 .cmh.gz",
					  "JinY_27723757_GWAS2chr12 .cmh.gz",
					  "JinY_27723757_GWAS2chr13 .cmh.gz",
					  "JinY_27723757_GWAS2chr14 .cmh.gz",
					  "JinY_27723757_GWAS2chr15 .cmh.gz",
					  "JinY_27723757_GWAS2chr16.cmh.gz",
					  "JinY_27723757_GWAS2chr17 .cmh.gz",
					  "JinY_27723757_GWAS2chr18 .cmh.gz",
					  "JinY_27723757_GWAS2chr19 .cmh.gz",
					  "JinY_27723757_GWAS2chr20 .cmh.gz",
					  "JinY_27723757_GWAS2chr21 .cmh.gz",
					  "JinY_27723757_GWAS2chr22 .cmh.gz",
					  "JinY_27723757_GWAS2chr2.cmh.gz",
					  "JinY_27723757_GWAS2chr3.cmh.gz",
					  "JinY_27723757_GWAS2chr4 .cmh.gz",
					  "JinY_27723757_GWAS2chr5.cmh.gz",
					  "JinY_27723757_GWAS2chr6.cmh.gz",
					  "JinY_27723757_GWAS2chr7 .cmh.gz",
					  "JinY_27723757_GWAS2chr8 .cmh.gz",
					  "JinY_27723757_GWAS2chr9 .cmh.gz"]
			},
			"effect_allele_index": "7",
			"non_effect_allele_index": "5",
			"direction_index": "10",
			"delimiter": "\t",
			"rsid_index": "1",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "9",
                        "or_index": "10",
                        "se_index": "11"
		},
		{
			"study_info": "Coronary-Artery-Disease_Nelson_2017",
			"traits":
			{
				"Coronary-Artery-Disease_Nelson_2017": ["UKBB.GWAS1KG.EXOME.CAD.SOFT.META.PublicRelease.300517.txt.gz"]
			},
			"effect_allele_index": "5",
			"non_effect_allele_index": "6",
			"direction_index": "8",
			"delimiter": "\t",
			"rsid_index": "2",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "10",
			"effect_index": "8",
			"se_index": "9",
			"n_total_index": "11"
		},
		{
			"study_info": "Allergies_Ferreira_2017",
			"traits":
			{
				"Allergies_Ferreira_2017": ["SHARE-without23andMe.LDSCORE-GC.SE-META.v0.gz"]
			},
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"direction_index": "6",
			"delimiter": " ",
			"rsid_index": "10",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "8",
			"effect_index": "6",
			"se_index": "7"
		},
		{
			"study_info": "Asthma_Demenais_2017",
			"traits":
			{
				"Asthma_Demenais_2017": ["TAGC-meta-analyses/TAGC_Multiancestry_and_European-Ancestry_Meta-analyses_Results.tsv"]
			},
			"effect_allele_index": "5",
			"non_effect_allele_index": "4",
			"direction_index": "6",
			"delimiter": "\t",
			"rsid_index": "2",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "8",
                        "effect_index": "6",
                        "se_index": "7"
		},
		{
			"study_info": "Inflammatory-Bowel-Disease_Liu_2015",
			"output_file": "Inflammatory-Bowel-Disease-European_Liu_2015",
			"traits":
			{
				"Crohns-Disease": ["EUR.CD.gwas_info03_filtered.assoc"],
				"Inflammatory-Bowel-Disease": ["EUR.IBD.gwas_info03_filtered.assoc"],
				"Ulcerative-Colitis": ["EUR.UC.gwas_info03_filtered.assoc"]
			},
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"direction_index": "9",
			"delimiter": "\t",
			"rsid_index": "2",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "11",
                        "or_index": "9",
                        "se_index": "10"
		},
		{
			"study_info": "Atopic-Dermatitis_EAGLE_2015",
			"traits":
			{
				"Atopic-Dermatitis_EAGLE_2015": ["EAGLE_AD_GWAS_results_2015.txt.gz"]
			},
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"direction_index": "8",
			"delimiter": "\t",
			"rsid_index": "1",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "10",
			"effect_index": "8",
			"se_index": "9"
		},
		{
			"study_info": "Parkinsons_Pankratz_2012",
			"traits":
			{
				"Parkinsons_Pankratz_2012": ["Pankratz_Parkinsons_22687-SuppTable1.txt"]
			},
			"effect_allele_index": "2",
			"non_effect_allele_index": "3",
			"direction_index": "4",
			"delimiter": "\t",
			"rsid_index": "1",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "6",
                        "effect_index": "4",
                        "se_index": "5"
		}

	]
}
