{
	"swap": "True",
       "gwas_groups": 
	{
		"all-gwas":
		{
			"files": [
				"/users/mgloud/projects/rna_editing/data/tabix_eqtls/*.gz"
			],
			"gwas_cutoff_pvals": [1e-20],
			"gwas_windows": [500000],
			"eqtl_targets": {}
		}
	},
	"output_directory": "/users/mgloud/projects/rna_editing/output/top-edqtls",
	"output_base": "top-edqtls"
}
