{
        "out_dir_group": "rna-editing-ibd-3c-candidates",

	"plot_all": "True",

	"debug": "True",

	"plot_only": "True",

	"gwas_experiments": 
	{
		"data/gwas/Inflammatory-Bowel-Disease_Liu_2015.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only", "N": "10000", "type":"quant"}
	},

	"eqtl_experiments": 
	{
		"data/edqtls/*Transverse*.Fisher.combined.sorted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "pval_only", "N": "500", "selection_subset": "data/gene_sets/special-3c-candidates.txt"},
		"data/sqtls/*Transverse*.gz": {"ref": "1kgenomes", "eqtl_format": "pval_only", "N": "500", "selection_subset": "data/gene_sets/special-3c-candidates.txt"},
		"data/eqtls/*Transverse*.gz": {"ref": "1kgenomes", "eqtl_format": "pval_only", "N": "500", "selection_subset": "data/gene_sets/special-3c-candidates.txt"}
	},

	"selection_basis": "snps_from_list",

	"snp_list_file": "data/custom_snp_lists/special-3c-loci.txt",

	"window": 2000000,

	"methods": 
	{
                "coloc": {}
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"data/1KG/hg38/ALL.chr{0}_GRCh38.genotypes.20170504.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}
