{
	"tmp_file": "/users/mgloud/projects/rna_editing/tmp/gwas_munge.tmp",
	"input_base_dir": "/users/mgloud/projects/rna_editing/data/MS-data/",
	"output_base_dir": "/users/mgloud/projects/rna_editing/output/MS-data/formatted",
	"genome_build": ["hg38"],
	"studies":
	[
		{
			"study_info": "",
			"traits":
			{
				"Multiple-Sclerosis": ["discovery_metav3.0.meta.gz"] 
			},
			"delimiter": " ",
			"rsid_index": "3",
			"chr_index": "-1",
			"snp_pos_index": "-1",
			"pvalue_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"direction_index": "8",
			"or_index": "8"
		}
	]
}

